{% extends "base.html" %}

{% block content %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/blog-login.css') }}"/>
    <script src="{{ url_for('static', filename='js/blog-login.js') }}"></script>

    <div class="my-login-page">
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-md-center h-100">
                    <div class="card-wrapper">
                        <div class="card fat">
                            <div class="card-body">
                                <h4 class="card-title">Change password</h4>
                                <form method="POST" action="" novalidate>
                                    {{ form.hidden_tag() }}
                                    <div class="col form-group">
                                        <label>Old password</label>
                                        <input type="password" name="user_password_old" class="form-control"
                                               placeholder="">
                                        {% for error in form.user_password_old.errors %}
                                            <span id="user_password_help" class="text-danger">[{{ error }}]</span>
                                        {% endfor %}
                                    </div> <!-- form-group end.// -->

                                    <div class="col form-group">
                                        <label>New password</label>
                                        <input type="password" name="user_password_new" class="form-control"
                                               placeholder="">
                                        {% for error in form.user_password_new.errors %}
                                            <span id="user_password_help" class="text-danger">[{{ error }}]</span>
                                        {% endfor %}
                                        <p class="form-text text-muted">English lowercase, uppercase, numbers,
                                            special characters((!@#$%^*+=-_))<br>
                                            <span class="text-info">[2 combinations : 10 characters or more, 3 combinations : 8 characters or more]</span>
                                        </p>
                                    </div> <!-- form-group end.// -->

                                    <div class="col form-group">
                                        <label>New password repeat</label>
                                        <input type="password" name="user_password_new_repeat" class="form-control"
                                               placeholder="">
                                        {% for error in form.user_password_new_repeat.errors %}
                                            <span id="user_password_help" class="text-danger">[{{ error }}]</span>
                                        {% endfor %}
                                    </div> <!-- form-group end.// -->

                                    <div class="form-group no-margin">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Save
                                        </button>
                                        <a href="{{ url_for('edit_user') }}" class="btn btn-secondary btn-block">
                                            Cancel
                                        </a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <br/>
{% endblock %}